.site-navebar-background {
    background-image: url("../images/navebar_background.jpg");
}

h1, h2, h3, h4, h5, h6 {
    color: forestgreen;
}

body {
    background-color : moccasin;
}

hr {
    height: 2px;
    border: none;
    color: forestgreen;
    background-color: forestgreen;
}

.site-container {
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    background-color: ivory;
}

.site-navebar {
    background-color: ivory;
}


